{% extends "bucket_pages/bucketbase.html" %} {% block bucket_content %} {% if
policy.hasPolicy == false %}
<h2>This store has no policies</h2>
{% else %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Policy Name</th>
        <th>Effect</th>
        <th>Actions</th>
        <th>Applies to</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for policy in policy.policy %}
      <tr>
        <td>{{ policy.Sid }}</td>
        {% if policy.Effect == "Allow" %}
        <td class="text-success">
          <i class="fa fa-fw fa-check"></i> <code>Allow</code>
        </td>
        {% elif policy.Effect == "Deny" %}
        <td class="text-warning">
          <i class="fa fa-fw fa-ban"></i> <code>Deny</code>
        </td>
        {% endif %}
        <td>
          {% if policy.Action.0 == "*"%}
          <p>All actions</p>
          {% else %}
          <p class="text-wrap">{% for action in policy.Action%} {{ action }} <br>{% endfor %}</p>
          {% endif %}
        </td>
        {%if policy.Principal.user|length > 0 or policy.Principal.group|length >
        0 %} {% if policy.Principal.user.0 == "*"%}
        <td>
          <p>All</p>
        </td>
        {% else %}
        <td>
          {% if policy.Principal.user|length > 0 %}
          <p class="text-wrap">
            {% for user in policy.Principal.user%} User: {{ user }} <br>{% endfor %}
          </p>
          {% endif %} {% if policy.Principal.group|length > 0%}
          <p class="text-wrap">
            {% for group in policy.Principal.group%} Group: {{ group }} <br>{%
            endfor %}
          </p>
          {% endif %}
        </td>
        {% endif %} {% elif policy.Principal.anonymous%}
        <td>
          <p>Anonymous Users</p>
        </td>
        {% elif policy.Principal.group|length > 0 %}
        <p>
          {% for group in policy.Principal.group%} Group: {{ group }} {% endfor
          %}
        </p>
        {% endif %}
        <td style="padding-right: 0.6em">
          <form
            method="post"
            action=""
            class="form-horizontal"
            id="delete_policy_form"
            onsubmit=""
          >
            <div class="form-group">
              <input
                type="hidden"
                id="delete_policy_input"
                name="policy"
                value="delete_{{ loop.index0 }}"
              />
              <button
                name="delete_policy_btn"
                id="delete_policy_btn"
                type="submit"
                class="btn btn-primary"
                style="float: right; margin-right: 1.2em"
                autocomplete="off"
                onclick=""
              >
                <i class="fa fa-fw fa-trash"></i> Delete
              </button>
            </div>
          </form>
          <form
            method="post"
            action=""
            class="form-horizontal"
            id="edit_policy_form"
            onsubmit=""
          >
            <div class="form-group">
              <input
                type="hidden"
                id="edit_policy_input"
                name="policy"
                value="edit_{{ loop.index0 }}"
              />
              <button
                name="edit_policy_btn"
                id="edit_policy_btn"
                type="submit"
                class="btn btn-primary"
                style="float: right; margin-right: 1.2em"
                autocomplete="off"
                onclick=""
              >
                <i class="fa fa-fw fa-pen"></i> Edit
              </button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>

  {% if edit == true %}
  
  <div class="banner banner-info modal" id="key-creation-content" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-body">
        {% include "bucket_pages/bucketform.html" %}
      </div>
    </div>
  </div>
  
  <script>
    var policyDetails = JSON.parse('{{ policy_detail | tojson}}')
    if(policyDetails["Action"] == "*"){
      $(":checkbox[name='actions']").attr('checked', true)
    }
    else{
      policyDetails["Action"].forEach(item => $("#"+item).attr('checked', true))
    }
    $("input[name='policyName']").val(policyDetails["Sid"])

    if(policyDetails["Principal"].hasOwnProperty("anonymous")){
      $(":radio[value='Anonymous']").attr('checked', true)
    }
    else if(policyDetails["Principal"].hasOwnProperty("group") && policyDetails["Principal"].hasOwnProperty("user")){
      $(":radio[value='Users']").attr('checked', true)
      $("#userNames").val(policyDetails["Principal"]["user"])
      $("#groupNames").val(policyDetails["Principal"]["group"])
      $("div.userSelect").show();
    }
    else{
      $(":radio[value='All']").attr('checked', true)
    }
    $("#"+policyDetails["Effect"]).attr('checked', true)
    var modal = new bootstrap.Modal(
      document.getElementById("key-creation-content"),
      { focus: true }
    );
    modal.show();
  </script>
  {% endif %}
{% endblock %}
