<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/theme/css/main.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/assets/css/MyFontsWebfontsKit.css">
<link rel="stylesheet" type="text/css" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/assets/css/webfonts.css">
<link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/vendor/css/fontawesome-all.min.css" media="screen">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock head %}
</head>
<body>
<div class="navbar navbar-expand-lg sticky-top navbar-dark bg-success">
        <div class="container">
            
                <a href="/" class="navbar-brand">
                    <img src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/assets/img/jasmin_logo_white_greendots_h50.png" alt="JASMIN logo">
                </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
            
                <li class="nav-item active">
                    <a class="nav-link" href="/object-store/">Object Stores</a>
                </li>
            
            </ul>
    {% if request.session.get("token") is not none%}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">                
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>&nbsp; {{ request.session.token.userinfo.preferred_username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/account/logout/"><i class="fas fa-sign-out-alt fa-fw"></i> Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
    </div>
    </div>
<main class="flex-fill">
<div class="container mt-2" id="content-main">
{% block content %}{% endblock content %}
</div>
</main>
</body>