{% extends "base.html" %}

{% block content%}
<script>
  console.log("{{ message }}")
</script>

{% if message %}
<h1>{{message}}</h1>
{% else %}
<h1>Oops! Something went wrong</h1>
{% endif %}
<a class="btn btn-primary mb-2" href="/">Go back home</a>
<!-- Removed the detailed error TODO: Think about adding this back in for debug/testing mode
      {% if advanced is true %}
      <a onclick="showAdvanced()" href="#" class="text-decoration-none" id="advanced-dropdown">Show full error<i class="fa fa-fw fa-caret-down"></i></a>
      <p id="full-error" style="display: none;">{{ error }}</p>
<script>
    function showAdvanced(){
        advanced = document.getElementById("full-error")
        drop = document.getElementById("advanced-dropdown")
        if (advanced.style.display == "none"){
          advanced.style.display = "block"
          drop.innerHTML = 'Hide full error<i class="fa fa-fw fa-caret-up"></i>'
        }
        else{
          advanced.style.display = "none"
          drop.innerHTML = 'Show full error<i class="fa fa-fw fa-caret-down"></i>'
        }
      }-->
</script>
{% endif %}
{% endblock content %}