{% extends "base.html" %}

{% block content %}
<div class="card my-3">
    <div class="card-header">
        <h3 class="card-title"><code>Object-Store: cedadev-o</code></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-8"><p>S3 object store tenancy for CEDA testing.</p></div>
            <div class="col-lg-3 col-md-4 col-sm-4 d-grid gap-2 align-items-center">
                <a class="btn btn-primary" href="object-store/cedadev-o/">
                    <i class="fas fa-fw fa-info"></i> More information</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}