#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
}

#content-main {
  flex: 1;
}

html {
  height: 100%;
}

.table-warning{
  --bs-table-accent-bg: #ffe1cc!important;
}

.table-danger{
  --bs-table-accent-bg: #eed1d5!important;
}