{% extends "access_key_pages/objectbase.html" %} {% block object_content %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Access Key</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
        <th>Expires</th>
        <th></th>
      </tr>
    </thead>
    {% if access_keys %}
    <tbody>
      {% for access_key in access_keys %} {% if access_key.expired %}
      <tr class="bg-danger">
        {% elif access_key.expiring %}
      </tr>

      <tr class="table-warning">
        {% else %}
      </tr>

      <tr>
        {% endif %}
        <td><code>{{ access_key.name }}</code></td>
        <td>{{ access_key.description }}</td>
        <td>{{ access_key.last_modified }}</td>
        {% if access_key.expired %}
        <td class="text-danger">
          <i class="fa fa-fw fa-clock"></i> <code>EXPIRED</code>
        </td>
        {% elif access_key.expiring %}
        <td class="text-warning">
          <i class="fa fa-fw fa-clock"></i> <code>EXPIRING</code>
        </td>
        {% else %}
        <td class="text-success">
          <i class="fa fa-fw fa-check"></i> <code>ACTIVE</code>
        </td>
        {% endif %}
        <td>{{ access_key.lifepoint }}</td>
        <td style="padding-right: 0.6em">
          <form
            method="post"
            action=""
            class="form-horizontal"
            id="delete_{{ access_key.name }}_form"
            onsubmit="loading('{{ access_key.name }}')"
          >
            <div class="form-group">
              <input
                type="hidden"
                id="delete_{{ access_key.name }}_input"
                name="delete_access_key"
                value="{{ access_key.name }}"
              />
              <button
                name="delete_access_key_btn"
                id="delete_{{ access_key.name }}_btn"
                {%
                if
                access_key.expired
                %}
                disabled
                {%
                endif
                %}
                type="submit"
                class="btn btn-primary"
                style="float: right; margin-right: 1.2em"
                autocomplete="off"
                onclick=""
              >
                <i class="fa fa-fw fa-trash"></i> Delete
              </button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
<script>
  function loading(element_name) {
    button = document.getElementById("delete_" + element_name + "_btn");
    console.log(button);
    button.innerHTML = `
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
  </span> Working
  <span class="sr-only">Loading...</span>`;
  }
</script>

{% endblock object_content %}
